.body {
  max-height: width: 100%;
}
.container {
background-color:#FFECE2;
max-width: 100%;
}

.header {
  background-color:#1EAEDB;
  padding-left: 10px;
  margin-bottom: 30px;
  font-family: 'Cabin Sketch';
  color:#FFECE2;
  height: 100%;
}

.nav {
  background-color:#FFECE2;
  padding-left: 10px;
  font-family:'Cabin Sketch';
  color:#755D6B;
  height: 100%;
}
.row {
  height: 100%;
  max-width: 100%;
}

.content {
  background-color:#FFECE2;
    padding: 20px;
    text-align: justify;

}

.blog-table {
    padding: 10px;
}

.blog-post {
  padding: 10px;
}

.social{
  background-color:#FFECE2;
  font-family:'Cabin Sketch';
  text-align: left;
  padding-left: 10px;
  color: #755D6B;
  height: 100%;
}

.fa {
  padding: 5%;
}

.gif{
  position: relative;
  width: 70%;
  height: 70%;
  padding-left: 15%;
}
