
.container {
background-color:#FFECE2;
}

.header {
  background-color:#E5989B;
  padding-left: 10px;
  font-family: 'Cabin Sketch', cursive;
  color: #FFECE2;
  height: 100%;
}

.nav {
  background-color:#B5838D;
  padding-left: 10px;
  font-family: 'Cabin Sketch', cursive;
  color: #FFECE2;
  height: 100%;
  padding-bottom: 60%;
}

.content {
  background-color:#FFECE2;
    padding: 10px;
    height: 100%;

}

.social{
  background-color:#755D6B;
  text-align: left;
  color: #FFECE2;
  height: 100%;
}

.fa {
  padding: 5%;
}

.gif{
  position: relative;
  width: 70%;
  height: 70%;
  padding-left: 15%;
}

.footer {
    background-color:#755D6B;
    padding: 5px;
    text-align: center;

  }
